@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.box {
  margin: 0 auto 3rem auto;
  max-width: 600px;
}

#filtro {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#filtro > label {
  margin-bottom: 0;
  align-self: center;
  justify-self: center;
}

#input-filtro {
  width: 75%;
}

#btn-reset {
  white-space: nowrap;
}

nav {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: small;
}

h1 {
  grid-column: span 2;
  text-align: center;
  font-size: x-large;
  padding-bottom: 1em;
}

#lista {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#lista li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

#lista li:hover {
  cursor: pointer;
  background-color: #eee;
}

#lista li h2 {
  text-align: center;
}

#lista li img {
  display: block;
  margin: 0 auto;
}

.box {
  padding: 2rem;
}
